/tramp
/elpa
/eshell
/semanticdb
/auto-complete
/auto-save-list
/mu4e
ac-comphist.dat
abbrev_defs
*.elc
*~
\#*
session.*
bookmarks
ido.last
projectile.cache
projectile-bookmarks.eld
.mc-lists.el
.cask
/recentf
/url
